.header{
	height:200px;
	padding-top:55px;
	float:left;
	margin-bottom:70px;
}
/* About us*/
.aboutCont{
	height:500px;
}

.logo{	
	float:left;
	width:50%;
	height:200px;
}

.logo img{
	height:100%;
	width:200px;
	
}

.content{
	clear:both;
}

.contactUs{
	padding:1%;
}


/* Property List*/
.pd{
	height:440px;
}

.myT th,td{
	text-align:center;
}

.list td{
	width:20%;
}


.list a{
	margin-bottom:5px;
	margin-top:5px;
}



/*Property Details*/
.individual td{
	width:15%;
}

.indImg{
	width:40% !important;
}


/* Footer*/
.footer{
	height:100px;
	background-color:#222222;
	padding-top:65px;
	padding-left:1%;
}

.footer h4,h6{
	color:#9d9d9d;
	display:inline-block;
}

/* Login & Upload */
.loginCont, .upl{
	height:440px;
}